/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

body {
    max-width: 1300px;
    margin: 0 auto;
}

.section {
    margin: 150px 0;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.section-desc {
    color: rgb(13, 19, 33);
    text-align: center;
}

/* banner section style */
.banner {
    height: 100vh;
    background-image: url('/images/Hero-bg.png');
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar h1 {
    font-size: 35px;
}

.navbar button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid;
}

.banner-info-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.banner-info-child {
    width: 75%;
}

.banner-info-child img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.banner-info-child h2 {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.banner-info-child p {
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 32px;
}

.banner-info-child button {
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 21px 24px;
    border: 0;
    display: block;
    margin: 0 auto;
}

/* banner section completed */


/* why development section start */
.development-card-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
}

.development-card-child {
    width: 60%;
}

.development-card-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.development-card-desc {
    color: rgb(13, 19, 33);
    margin: 16px 0 32px;
}

.development-card-btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    border-radius: 8px;
}

.development-card-parent2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    flex-direction: row-reverse;
}

/* why development section end */

