/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

body {
    max-width: 1300px;
    margin: 0 auto;
}

.section {
    margin: 150px 0;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.section-desc {
    color: rgb(13, 19, 33);
    text-align: center;
}

/* banner section style */
.banner {
    height: 100vh;
    background-image: url('../images/Hero-bg.png');
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar h1 {
    font-size: 35px;
}

.navbar button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid;
}

.banner-info-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.banner-info-child {
    width: 75%;
}

.banner-info-child img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.banner-info-child h2 {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.banner-info-child p {
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 32px;
}

.banner-info-child a{
    text-decoration: none;
}

.banner-info-child button {
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 21px 24px;
    border: 0;
    display: block;
    margin: 0 auto;
}
/* banner section completed */


/* why development section start */
.development-card-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
}

.development-card-child {
    width: 60%;
}

.development-card-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.development-card-desc {
    color: rgb(13, 19, 33);
    margin: 16px 0 32px;
}

.development-card-btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    border-radius: 8px;
}

.development-card-parent2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    flex-direction: row-reverse;
}
/* why development section end */


/* inspiration section start */
.video-container {
    border: 1px solid rgba(128, 128, 128, 0.336);
    margin-top: 80px;
    border-radius: 15px;
    padding: 15px;
}

.video-container iframe {
    border-radius: 15px;
    width: 100%;
    height: 400px;
}

/* current target section start */
.target-card-parent {
    display: flex;
    gap: 15px;
    margin-top: 48px;
}

.card {
    border-radius: 16px;
    padding: 40px;
    width: 33%;
}

.card-title {
    color: rgb(13, 19, 33);
    font-weight: 800;
    font-size: 24px;
    margin: 24px 0 8px;
}

.card-desc {
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.card-btn {
    color: rgb(13, 19, 33);
    border: 0;
    border-bottom: 1px solid;
    font-weight: 700;
}

.card1 {
    background: rgba(255, 76, 30, 0.05);
}

.card2 {
    background: rgba(0, 76, 232, 0.05);
}

.card3 {
    background: rgba(255, 223, 0, 0.05);
}


/*  support section start */
.support-container {
    background: linear-gradient(rgba(21, 21, 21, 0.70), rgba(21, 21, 21, 0.70)), url('../images/handshake.jpg');
    margin: 80px 0;
    border-radius: 15px;
    background-position: center;
}

.support {
    width: 600px;
    margin: 0 auto;
    padding: 64px;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.support-desc {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 24px;
}

.input-field {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

::placeholder {
    color: rgba(13, 19, 33, 0.4);
}

input[type=text] {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
    flex-grow: 1;
}

input[type=submit] {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;
    border-radius: 8px;
    border: 0;
}

/* footer section */
#footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.author p {
    color: rgb(13, 19, 33);
    font-weight: 600;
    font-size: 20px;
}